<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You have successfully render page using ejs</h1>
    <hr>
    <br>
    <p><b>Visit Profile page:</b> <a href="http://localhost:8000/profile">Click Here</a></p>
    <br>
    <p><b>Visit Contact page:</b> <a href="http://localhost:8000/contacts">Click Here</a></p>
</body>
</html>