<link rel="stylesheet" href="/css/_chat.css">


<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/js/_chat.js"></script>

<div id="chat-message">
    <ul id="chat-box-messages"></ul>
    <form id="chat-box-form" action="">
        <input id="chat-box-input" autocomplete="off" /><button>Send</button>
    </form>
</div>

