
<link rel="stylesheet" href="/css/flash.css">

<script src="/js/flash.js"></script>

<div class="toast-container position-absolute p-3 top-25 end-0 " style="z-index: 10000000;">
    
  <%if(locals.flash){%>

    <!-- Failure message -->
    <% if(flash.failure){%>
      <% flash.failure.forEach( msg =>{%>
        <div class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive"
        aria-atomic="true" data-bs-delay="10000">
            <div class="d-flex">
                <div class="toast-body">
                <%= msg %>
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
            </div>
        </div>
      <%})%>
    <%}%>

    <!-- Success message -->
    <% if(flash.success){%>
      <% flash.success.forEach( msg =>{%>
        <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive"
        aria-atomic="true" data-bs-delay="10000">
            <div class="d-flex">
                <div class="toast-body">
                <%= msg %>
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
            </div>
        </div>
      <%})%>
    <%}%>

    <!-- Warning message -->
    <% if(flash.warning){%>
      <% flash.warning.forEach( msg =>{%>
        <div class="toast align-items-center text-white bg-warning border-0" role="alert" aria-live="assertive"
        aria-atomic="true" data-bs-delay="10000">
            <div class="d-flex">
                <div class="toast-body">
                <%= msg %>
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
            </div>
        </div>
      <%})%>
    <%}%>

  <%}%>

</div>