<footer>
    <h2>Footer Content</h2>
    <a href="http://localhost:8000">Home Page</a> | 
    <a href="http://localhost:8000/users/profile">Profile Page</a> | 
    <a href="http://localhost:8000/users/list">User List Page</a>
</footer>