<link rel="stylesheet" href="/css/home.css">

<section class="container">

  <div class="row m-auto row g-4">
    <section class="col-sm-12 col-md-8">
          <!-- Form will only be visible to authenticated user, Although one check needed at router level as well -->
      <% if(locals.user) {%>
        <section id="post-feed" class="shadow mt-4 sticky-lg-top">
          <div class="card">
            <h5 class="card-header">Have something in Mind?</h5>
            <div class="card-body">
              <!-- <p class="card-text">Let your friends know what you have done today!</p> -->
              <form action="/posts/create" method="POST">
                <div class="mb-3">
                  <label for="message-text" class="col-form-label"></label>
                  <textarea name="content" class="form-control" id="message-text" rows="1"
                    placeholder="Write here ..." required></textarea>
                </div>
  
                <button type="submit" class="btn btn-primary">Post</button>
              </form>
            </div>
          </div>
        </section>
      <% } %>
      
      <%- include('_posts') -%>
    </section>
    <aside class="col-sm-12 col-md-4 border-start text-start">
      <section class="sticky-top" id="friends-section">
        <h1>Friends</h1>
        <ul class="list-group list-group-flush">

          <% if(locals.user) {%>
            <% for(friend of locals.friends) {%>

              <!-- Self Id in friend list should not be there. -->
              <% if(friend.id != locals.user.id) {%>
            
                <li class="list-group-item "> <a href="/users/profile?user_id=<%= friend.id %>"><%= friend.name %></a> </li>

              <% } %>
            <% } %>
          <% } else{%>
            Login to see Friends And Profiles <a href="/users/sign-in">Login</a>
          <% } %>
        </ul>
      </section>
    </aside>
  </div>  
</section>