<link rel="stylesheet" href="/css/user_sign_in.css">

<section class="container mt-4">

    <form action="/users/login" method="post">
        <div class="row mb-3">
            <h1>Login</h1>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input name="email" type="email" id="email" class="form-control" placeholder="alexa@work.co" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input name="password" type="password" id="password" class="form-control"required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>

</section>



