<h1>User List</h1>

<br>

<ol>
    <% for(let user of users){ %>
        <li> <%= user %></li>
    <% }  %>
</ol>

<form action="/users/add" method="post">
    <label for="username">username</label>
    <input type="text" name="username" id="username" placeholder="Type some user name here.">
    <br><br>
    <button type="submit">Submit</button>
</form>