<link rel="stylesheet" href="/css/user_sign_in.css">


<div id="container">
    <header>
        <h1>Login </h1>
    </header>
    <main>
        <form action="/users/login" method="post">
            <div class="form-label-container">
                <label for="email" class="form-label">Email</label>
                <input name="email" type="email" id="email" class="form-input" placeholder="alexa@work.co" required>
            </div>

            <div class="form-label-container">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="password" id="password" class="form-input" required>
            </div>

            <div class="form-button-container">
                <button type="submit">Login</button>
            </div>
        </form>
    </main>
    <footer>
        <p>Already a User? <a href="/users/sign-up">Register</a></p>
    </footer>
</div>