<link rel="stylesheet" href="/css/user_sign_up.ejs">

<section class="container mt-4">

    <form action="/users/register" method="POST">
        <div class="row mb-3">
            <h1>Register Yourself</h1>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input name="email" type="email" id="email" class="form-control" placeholder="alexa@work.co" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input name="password" type="password" id="password" class="form-control" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-10">
                <input name="confirm_password" type="password" id="confirm_password" class="form-control" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input name="name" type="name" id="name" class="form-control" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

</section>
