<link rel="stylesheet" href="/css/user_list.css">


<h1>User List</h1>

<br>

<ul>
    <% for(let user of users){ %>
        <li> <%= user %></li>
    <% }  %>
</ul>

<form action="/users/add" method="post">
    <label for="username">username</label>
    <input type="text" name="username" id="username" placeholder="Type some user name here.">
    <br><br>
    <button type="submit">Submit</button>
</form>