#post-feed{
  text-align: start;
}

.carousel .item {
    height: 500px;
  }
  
.item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    max-height: 500px;
}

.comment-btn-no-outline > button:focus{
  box-shadow: none;
}