table{
    border: 2px solid gray;
    margin-left: auto;
    margin-right: auto;

    font-size: xx-large;
    text-align: start;
}

table tr:nth-child(even){
    background-color: lightgray;
    color: darkslategrey;
}

td{
    
    width: 50%;
}

#logout-container {
    width: 90%;
    text-align: right;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: 700;
}

#logout-container a{
    text-decoration: none;
}