table{
    border: 2px solid gray;
    margin-left: auto;
    margin-right: auto;

    font-size: xx-large;
    text-align: start;
}

table tr:nth-child(even){
    background-color: lightgray;
    color: darkslategrey;
}

td{
    
    width: 50%;
}